* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --button-detail: #f1a5b1;
}

body {
  background: url(./assets/bg-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 60vw;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 40px;
}

header #logo img {
  width: 150px;
}

header #nav-links {
  display: flex;
  gap: 24px;
  color: white;
}

header #nav-links ion-icon {
  font-size: 16px;

  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;

  padding: 0px 20px 0px 0px;
}

main #content {
  width: 41%;
}

main #content #title h6 {
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 18px;
  text-transform: uppercase;

  margin-bottom: 8px;
}

main #content #title h1 {
  font-weight: 800;
  font-family: "Andada Pro";
  font-size: 56px;
  text-transform: uppercase;
}

main #content #paragraph p {
  font-weight: 500;
  font-family: "Archivo";
  font-size: 16px;
  line-height: 26px;
}

main #content #paragraph {
  margin: 10px 0px 40px 0px;
}

main #content #buttons {
  display: flex;
  gap: 14px;
}

main #content #buttons button {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
}

main #buttons #b1 {
  background-color: var(--button-detail);
  border-radius: 4px;
}

main #buttons ion-icon {
  font-size: 18px;
  margin-right: 8px;
}

main #buttons #b1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

main #buttons #b2 {
  border: 2px solid var(--button-detail);
  background-color: transparent;
  border-radius: 4px;
}

main #buttons #b2 a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

main #ghosts {
  width: 50%;
}

main #ghosts img {
  width: 110%;
}

@media (max-width: 769px) {
  body {
    background: url("./assets/bg-tablet.png");
  }

  #container {
    width: 100vw;
  }

  header {
    padding: 24px 30px;
    margin-bottom: 5px;
  }

  header #logo img {
    width: 130px;
  }

  main {
    flex-direction: column-reverse;

    padding: 0px 30px 50px;
  }

  main #content {
    width: 63%;
  }

  main #content #title {
    width: 60%;
  }

  main #content #title h6 {
    font-size: 16px;
  }

  main #content #title h1 {
    font-size: 40px;
  }

  main #content #paragraph {
    margin: 10px 0px 30px;
  }

  main #content #paragraph p {
    font-size: 16px;
  }

  main #content #buttons {
    flex-direction: column;
  }

  main #content #buttons button {
    padding: 12px;
  }

  main #ghosts {
    width: 50%;
    padding: 15px 10px;
  }

  main #ghosts img {
    width: 110%;
  }
}
